#chart-legend ul li {
	list-style: none;
}

.ct-legend {
	position: relative;
	z-index: 10;
}
.ct-legend li {
	position: relative;
	padding-left: 23px;
	margin-bottom: 3px;
	font-weight: bold;
}
.ct-legend li:before {
	width: 18px;
	height: 18px;
	position: absolute;
	left: 0;
	content: '';
	border: 3px solid transparent;
	border-radius: 2px;
}
.ct-legend li.inactive:before {
	background: transparent;
}
.ct-legend.ct-legend-inside {
	position: absolute;
	top: 0;
	right: 0;
}

/* Coloring */
.ct-legend .ct-series-0:before {
	background-color: #d70206;
	border-color: #d70206;
}
.ct-legend .ct-series-1:before {
	background-color: #f05b4f;
	border-color: #f05b4f;
}
.ct-legend .ct-series-2:before {
	background-color: #f4c63d;
	border-color: #f4c63d;
}
.ct-legend .ct-series-3:before {
	background-color: #d17905;
	border-color: #d17905;
}
.ct-legend .ct-series-4:before {
	background-color: #453d3f;
	border-color: #453d3f;
}
